* {
  box-sizing: border-box;
}
body,
a,
ul,
li,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.header {
  width: 100%;
  height: 40px;
  background: #444444;
}
.nav_box {
  height: 44px;
  background: #010101;
}
.col-m-1 {
  width: 5%;
}
.col-m-2 {
  width: 10%;
}
.col-m-3 {
  width: 15%;
}
.col-m-4 {
  width: 20%;
}
.col-m-5 {
  width: 25%;
}
.col-m-6 {
  width: 30%;
}
.col-m-7 {
  width: 35%;
}
.col-m-8 {
  width: 40%;
}
.col-m-9 {
  width: 45%;
}
.col-m-10 {
  width: 50%;
}
.col-m-11 {
  width: 55%;
}
.col-m-12 {
  width: 60%;
}
.col-m-13 {
  width: 65%;
}
.col-m-14 {
  width: 70%;
}
.col-m-15 {
  width: 75%;
}
.col-m-16 {
  width: 80%;
}
.col-m-17 {
  width: 85%;
}
.col-m-18 {
  width: 90%;
}
.col-m-19 {
  width: 95%;
}
.col-m-20 {
  width: 100%;
}
.col-m-hide {
  display: block;
}
.col-c-hide {
  display: none;
}
.col-l-hide {
  display: none;
}
.nav {
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  overflow: hidden;
  font-family: inherit;
  position: relative;
  margin: 0 auto;
}
.nav_box {
  width: 100%;
  position: relative;
}
.menu {
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 40px;
  height: 44px;
  width: 44px;
  margin-left: 5% ;
  display: block;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.menu_son {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background: #000;
  display: none;
}
.menu_son li {
  margin: auto;
  width: 80%;
  height: 50px;
  font-size: 14px;
  line-height: 2.78571;
  font-weight: 400;
  letter-spacing: normal;
  border-bottom: 1px solid #c0c6cb;
}
.nav .nav_first {
  position: absolute;
  left: 50%;
}
.nav .nav_last1 {
  position: absolute;
  right: 10px;
}
.nav li {
  height: 100%;
  float: left;
  padding: 0 10px;
}
.nav a {
  color: #fff;
}
.banner {
  width: 100%;
  height: 540px;
  overflow: hidden;
  position: relative;
}
.imgs {
  width: 100%;
  height: 100%;
  position: relative;
}
.imgs a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.imgs_1 {
  background: url("../img/event_small.jpg") no-repeat center;
  background-size: cover;
}
.imgs_2 {
  background: #fff url("../img/macbookpro_small.jpg") no-repeat center bottom;
  background-size: auto;
  left: 100%;
}
.imgs_3 {
  background: #000 url("../img/iphone_large.jpg") no-repeat center;
  background-size: contain;
  left: 100%;
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 5;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 5;
}
.leftBtn {
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  font-family: "微软雅黑";
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
  z-index: 6;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.left:hover > .leftBtn {
  opacity: 1;
}
.rightBtn {
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  font-family: "微软雅黑";
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
  z-index: 6;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.right:hover > .rightBtn {
  opacity: 1;
}
.btns {
  width: 170px;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  z-index: 990;
}
.btns .btns_list {
  width: 50px;
  height: 100%;
  border: 1px solid #ccc;
  margin-right: 5px;
  float: left;
}
.btns .btns_lists:last-child {
  margin-right: 0;
}
.btns .progress {
  background: #ccc;
  width: 0%;
  height: 100%;
}
.smallbanner {
  width: 100%;
  overflow: hidden;
}
.smallbanner li {
  border: 1px solid #fff;
  float: left;
  height: 200px;
}
.smallbanner li:before,
.smallbanner li:after {
  content: "";
  display: block;
}
.smallbanner li:after {
  clear: both;
}
.smallbanner li a {
  width: 100%;
  height: 100%;
  display: block;
}
.smimgs1 {
  background: url("../img/nike_watch_small.jpg") no-repeat center center;
}
.smimgs2 {
  background: url("../img/airpods_small.jpg") no-repeat center center;
}
.smimgs3 {
  background: url("../img/iphone_upgrade_small.jpg") no-repeat center center;
}
.smimgs4 {
  background: url("../img/accessibility_small.jpg") no-repeat center center;
}
.servicebox {
  width: 100%;
  overflow: hidden;
  background: #F2F2F2;
}
.service {
  width: 100%;
  padding: 0 22px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.service p {
  width: 100%;
  height: 20px;
  padding: 16px 0 11px;
  font-size: 12px;
  font-weight: 700;
  boder-bottom: 1px solid #E3E3E3;
  color: #999;
}
.service_inner {
  padding-top: 20px;
  overflow: hidden;
  font-family: inherit;
  background: #f2f2f2;
  cursor: pointer;
  margin-bottom: 20px;
}
.service_inner li {
  width: 100%;
  height: 38px;
  font-size: 12px;
  line-height: 2.78571;
  font-weight: 400;
  letter-spacing: normal;
  border-bottom: 1px solid #c0c6cb;
}
.service_inner h3 {
  color: #333;
}
.service_inner ul {
  display: none;
}
.foot {
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  display: none;
}
.footer {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  width: 100%;
  height: 240px;
  margin: 0 auto;
}
.footer li {
  width: 20%;
  height: 100%;
  float: left;
  font-size: 12px;
  font-family: "微软雅黑";
}
.footer li a {
  float: left;
  line-height: 20px;
  display: block;
  width: 100%;
  height: 20px;
  text-align: left;
  color: #848484;
  text-decoration: none;
}
.footer li a:hover {
  text-decoration: underline;
  color: #000;
}
.footer li h6 {
  color: #000;
}
.line {
  font-size: 12px;
  font-family: "微软雅黑";
}
.low {
  width: 100%;
  height: 40px;
  margin: auto;
}
.low span {
  color: #99999E;
  font-size: 12px;
  font-family: "微软雅黑";
  text-align: left;
  line-height: 47px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
}
.low a {
  display: block;
  float: left;
  color: #6A7B8D;
  line-height: 47px;
  text-decoration: none;
  font-size: 12px;
}
.low a:hover {
  text-decoration: underline;
  color: #000;
}
.ga {
  width: 100%;
  heigth: 10px;
  display: block;
}
@media screen and (min-width: 750px) {
  .nav .nav_first {
    display: none;
  }
  .nav li {
    margin-right: 4%;
  }
  .menu {
    display: none;
  }
  .menu_son {
    display: none;
  }
  .imgs_1 {
    background: url("../img/event_medium.jpg") no-repeat center;
    background-size: cover;
  }
  .imgs_2 {
    background: #fff url("../img/macbookpro_medium.jpg") no-repeat center bottom;
    background-size: contain;
  }
  .imgs_3 {
    background: #000 url("../img/iphone_large.jpg") no-repeat center;
    background-size: contain;
  }
  .nav .nav_last {
    margin-right: 0;
  }
  .nav .nav_last1 {
    display: none;
  }
  .smimgs1 {
    background: url("../img/nike_watch_medium.jpg") no-repeat center center;
  }
  .smimgs2 {
    background: url("../img/airpods_medium.jpg") no-repeat center center;
  }
  .smimgs3 {
    background: url("../img/iphone_upgrade_medium.jpg") no-repeat center center;
  }
  .smimgs4 {
    background: url("../img/accessibility_medium.jpg") no-repeat center center;
  }
  .col-c-1 {
    width: 5%;
  }
  .col-c-2 {
    width: 10%;
  }
  .col-c-3 {
    width: 15%;
  }
  .col-c-4 {
    width: 20%;
  }
  .col-c-5 {
    width: 25%;
  }
  .col-c-6 {
    width: 30%;
  }
  .col-c-7 {
    width: 35%;
  }
  .col-c-8 {
    width: 40%;
  }
  .col-c-9 {
    width: 45%;
  }
  .col-c-10 {
    width: 50%;
  }
  .col-c-11 {
    width: 55%;
  }
  .col-c-12 {
    width: 60%;
  }
  .col-c-13 {
    width: 65%;
  }
  .col-c-14 {
    width: 70%;
  }
  .col-c-15 {
    width: 75%;
  }
  .col-c-16 {
    width: 80%;
  }
  .col-c-17 {
    width: 85%;
  }
  .col-c-18 {
    width: 90%;
  }
  .col-c-19 {
    width: 95%;
  }
  .col-c-20 {
    width: 100%;
  }
  .col-m-hide {
    display: block;
  }
  .col-c-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .service_inner {
    display: none;
  }
  .foot {
    display: block;
  }
}
@media screen and (min-width: 1049px) {
  .nav {
    width: 1000px;
  }
  .nav li {
    margin-right: 6%;
  }
  .menu {
    display: none;
  }
  .menu_son {
    display: none;
  }
  .imgs_1 {
    background: url("../img/event_large.jpg") no-repeat center;
    background-size: cover;
  }
  .imgs_2 {
    background: #fff url("../img/macbookpro_large.jpg") no-repeat center bottom;
    background-size: contain;
  }
  .imgs_3 {
    background: #000 url("../img/iphone_large.jpg") no-repeat center;
    background-size: contain;
  }
  .smimgs1 {
    background: url("../img/nike_watch_large.jpg") no-repeat center center;
  }
  .smimgs2 {
    background: url("../img/airpods_large.jpg") no-repeat center center;
  }
  .smimgs3 {
    background: url("../img/iphone_upgrade_large.jpg") no-repeat center center;
  }
  .smimgs4 {
    background: url("../img/accessibility_large.jpg") no-repeat center center;
  }
  .col-l-1 {
    width: 5%;
  }
  .col-l-2 {
    width: 10%;
  }
  .col-l-3 {
    width: 15%;
  }
  .col-l-4 {
    width: 20%;
  }
  .col-l-5 {
    width: 25%;
  }
  .col-l-6 {
    width: 30%;
  }
  .col-l-7 {
    width: 35%;
  }
  .col-l-8 {
    width: 40%;
  }
  .col-l-9 {
    width: 45%;
  }
  .col-l-10 {
    width: 50%;
  }
  .col-l-11 {
    width: 55%;
  }
  .col-l-12 {
    width: 60%;
  }
  .col-l-13 {
    width: 65%;
  }
  .col-l-14 {
    width: 70%;
  }
  .col-l-15 {
    width: 75%;
  }
  .col-l-16 {
    width: 80%;
  }
  .col-l-17 {
    width: 85%;
  }
  .col-l-18 {
    width: 90%;
  }
  .col-l-19 {
    width: 95%;
  }
  .col-l-20 {
    width: 100%;
  }
  .col-m-hide {
    display: block;
  }
  .col-c-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .service_inner {
    display: none;
  }
  .foot {
    display: block;
  }
}
