@import "var.less";
*{
  box-sizing: border-box;
}
body,a,ul,li,img,p,h1,h2,h3,h4,h5,h6{
  padding:0;margin:0;text-decoration: none;list-style: none;
}
.header{
  width:100%;height:40px;background:#444444;
}
.nav_box{
  height:44px;
  background:#010101;
  //opacity:0.8;
}
.clear(){
  &:before,&:after{
    content: "";
    display: block;
  }
  &:after{
    clear:both;
  }
}
.loop(@type:m,@i:1) when (@i<=@cols){
  .col-@{type}-@{i}{
    width:@i/@cols*100%;
  }
  .loop(@type,@i+1);
}
//最小屏
.loop();
.col-m-hide{
  display: block;
}
.col-c-hide{
  display: none;
}
.col-l-hide{
  display: none;
}
.nav{
  width:100%;
  height:44px;
  font-size:16px;
  font-weight:400;
  line-height:44px;
  overflow: hidden;
  font-family: inherit;
  position: relative;
  margin:0 auto;
}
.nav_box{
  width: 100%;
  position: relative;
}
.menu{
  font-size: 40px;
  position: absolute;top:0px;left: 0;
  line-height: 40px;
  height: 44px;width: 44px;
  margin-left:5% ;display: block;
  color: #fff;cursor:pointer;z-index: 10;
}
.menu_son{
  position: absolute;top:44px;left: 0;
  width: 100%;
  background: #000;
  display: none;
}
.menu_son li{
  margin: auto;
  width: 80%;height: 50px;
  font-size: 14px;
  line-height: 2.78571;
  font-weight: 400;
  letter-spacing: normal;
  border-bottom: 1px solid #c0c6cb;
}
.nav .nav_first{
  position:absolute;
  left:50%;
}
.nav .nav_last1{
  position:absolute;
  right:10px;
}
.nav li{
  height:100%;
  float:left;
  padding:0 10px;
}
.nav a{
  color:#fff;
}
.banner{
  width: 100%;
  height:540px;
  overflow: hidden;
  position: relative;

}
.imgs{
  width:100%;
  height:100%;
  position:relative;
}
.imgs a{
  width:100%;
  height:100%;
  display:block;
  position: absolute;
}
.imgs_1{
  background:url("../img/event_small.jpg") no-repeat center;
  background-size:cover;
}
.imgs_2{
  background:#fff url("../img/macbookpro_small.jpg") no-repeat center bottom;
  background-size:auto;left: 100%;
}
.imgs_3{
  background:#000 url("../img/iphone_large.jpg") no-repeat center;
  background-size: contain;left: 100%;
}
.left{
  position: absolute;
  top:0;left:0;
  width: 25%;height:100%;
  z-index: 5;
}
.right{
  position: absolute;
  top:0;right:0;
  width: 25%;height:100%;
  z-index: 5;
}
.leftBtn{
  text-align: center;line-height: 65px;font-size: 18px;font-family: "微软雅黑";
  width: 65px;height:65px;
  position: absolute;top:0;bottom:0;left:5%;margin: auto;
  background: #ccc;border-radius: 50%;
  z-index: 6;cursor:pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.left:hover>.leftBtn{
  opacity: 1;
}
.rightBtn{
  text-align: center;line-height: 65px;font-size: 18px;font-family: "微软雅黑";
  width: 65px;height:65px;
  position: absolute;top:0;bottom:0;right:5%;margin: auto;
  background: #ccc;border-radius: 50%;
  z-index: 6;cursor:pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.right:hover>.rightBtn{
  opacity: 1;
}
.btns{
  width: 170px;height:10px;
  position: absolute;left: 0;right:0;bottom:50px;margin: auto;
  z-index: 990;
}
.btns .btns_list{
  width: 50px;height: 100%;
  border:1px solid #ccc;margin-right: 5px;
  float: left;
}
.btns .btns_lists:last-child{
  margin-right: 0;
}
.btns .progress{
  background: #ccc;
  width: 0%; height: 100%;
}
.smallbanner{
  width:100%;
  overflow: hidden;
}
.smallbanner li{
  border: 1px solid #fff;
  float:left;
  height:200px;
  .clear();
}
.smallbanner li a{
  width:100%;
  height:100%;
  display:block;
}
.smimgs1{
  background:url("../img/nike_watch_small.jpg") no-repeat center center;
}
.smimgs2{
  background:url("../img/airpods_small.jpg") no-repeat center center;
}
.smimgs3{
  background:url("../img/iphone_upgrade_small.jpg") no-repeat center center;
}
.smimgs4{
  background:url("../img/accessibility_small.jpg") no-repeat center center;
}
.servicebox{
  width:100%;
  overflow: hidden;
  background:#F2F2F2;
}
.service{
  width:100%;
  padding:0 22px;
  margin:0 auto;margin-bottom: 15px;
}
.service p{
  width:100%;
  height:20px;
  padding:16px 0 11px;
  font-size: 12px;
  font-weight:700;
  boder-bottom:1px solid #E3E3E3;
  color:#999;
}
.service_inner{
  padding-top:20px;
  overflow: hidden;
  font-family: inherit;
  background: #f2f2f2;
  cursor: pointer;margin-bottom: 20px;
}
.service_inner li{
  width: 100%;height: 38px;
  font-size: 12px;
  line-height: 2.78571;
  font-weight: 400;
  letter-spacing: normal;
  border-bottom: 1px solid #c0c6cb;
}
.service_inner  h3{
  color:#333;
}
.service_inner ul{
  display: none;
}



//footer

.foot{
  width:100%;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  display: none;
}
.footer{
  border-top:1px solid #ccc;
  padding-top: 15px;
  width:100%;
  height: 240px;
  margin: 0 auto;
}
.footer li{
  width: 20%;
  height: 100%;
  float: left;
  font-size: 12px;
  font-family: "微软雅黑";
}
.footer li a{
  float: left;
  line-height: 20px;
  display: block;
  width:100%;
  height: 20px;
  text-align: left;
  color: #848484;
  text-decoration: none;
}
.footer li a:hover{
  text-decoration: underline;
  color: #000;
}
.footer li h6{
  color: #000;
}
.line{
  font-size: 12px;font-family: "微软雅黑";
}
.low{
  width: 100%;
  height: 40px;
  margin: auto;
}
.low span{
  color: #99999E;
  font-size: 12px;
  font-family: "微软雅黑";
  text-align: left;
  line-height: 47px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
}
.low a{
  display: block;
  float:left;
  color: #6A7B8D;
  line-height: 47px;
  text-decoration: none;
  font-size: 12px;
}
.low a:hover{
  text-decoration: underline;
  color: #000;
}
.ga{
  width: 100%;heigth:10px;
  display: block;
}



//中屏
@media screen and (min-width: @conWidth){
  .nav .nav_first{
    display:none;
  }
  .nav li{
    margin-right:4%;
  }
  .menu{
    display: none;
  }
  .menu_son{
    display: none;
  }
  .imgs_1{
    background:url("../img/event_medium.jpg") no-repeat center;
    background-size:cover;
  }
  .imgs_2{
    background:#fff url("../img/macbookpro_medium.jpg") no-repeat center bottom;
    background-size:contain;
  }
  .imgs_3{
    background:#000 url("../img/iphone_large.jpg") no-repeat center;
    background-size: contain;
  }
  .nav .nav_last{
    margin-right:0;
  }
  .nav .nav_last1{
    display:none;
  }
  .smimgs1{
    background:url("../img/nike_watch_medium.jpg") no-repeat center center;
  }
  .smimgs2{
    background:url("../img/airpods_medium.jpg") no-repeat center center;
  }
  .smimgs3{
    background:url("../img/iphone_upgrade_medium.jpg") no-repeat center center;
  }
  .smimgs4{
    background:url("../img/accessibility_medium.jpg") no-repeat center center;
  }
  .loop(c);
  .col-m-hide{
    display: block;
  }
  .col-c-hide{
    display: block;
  }
  .col-l-hide{
    display: none;
  }
  .service_inner{
    display: none;
  }
  .foot{
    display: block;
  }
}
//大屏
@media screen and (min-width: @width){
  .nav{
    width:1000px;
  }
  .nav li{
    margin-right:6%;
  }
  .menu{
    display: none;
  }
  .menu_son{
    display: none;
  }
  .imgs_1{
    background:url("../img/event_large.jpg") no-repeat center;
    background-size:cover;
  }
  .imgs_2{
    background:#fff url("../img/macbookpro_large.jpg") no-repeat center bottom ;
    background-size:contain;
  }
  .imgs_3{
    background:#000 url("../img/iphone_large.jpg") no-repeat center;
    background-size: contain;
  }
  .smimgs1{
    background:url("../img/nike_watch_large.jpg") no-repeat center center;
  }
  .smimgs2{
    background:url("../img/airpods_large.jpg") no-repeat center center;
  }
  .smimgs3{
    background:url("../img/iphone_upgrade_large.jpg") no-repeat center center;
  }
  .smimgs4{
    background:url("../img/accessibility_large.jpg") no-repeat center center;
  }
  .loop(l);
  .col-m-hide{
    display: block;
  }
  .col-c-hide{
    display: block;
  }
  .col-l-hide{
    display: block;
  }
  .service_inner{
    display: none;
  }
  .foot{
    display: block;
  }
}

